body {
    margin: 5;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* HEADER */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #0e0d0d;
}
.logo {
    height: 70px;
    margin-right: 50px;
    margin-left:0 ;
}

/* MENU */
.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin:20px;
    padding: 0;
}

.menu li {
    position: relative;
}

button {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #e05e5e;
    color: white;
}

/* DROPDOWN */
.submenu {
    display: none;
    position: absolute;
    top: 100%;   
    left: 0;  
    background-color: #222;
    list-style: none;
    padding: 10px 0;
    border-radius: 10px;
    min-width: 150px;
    margin-top: 5px;
    z-index: 1000;
}

.submenu li {
    padding: 10px 15px;
    cursor: pointer;
}

.submenu li:hover {
    background-color: #e05e5e;
}

.dropdown:focus-within .submenu {
    display: block;
}

/* SECTION */
.section {
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 15px;
}

#slider {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

#caption {
    font-weight: bold;
    color: #05094d;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
}
